.img-class{
    background-image:url(Falafel.jpeg);
    background-size: cover;
    width: auto;
    height: 320px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-class > h3{
    text-align: center;
    padding: 15px;
    background-color:white;
    border-radius: 5px;
    height: 20px;
    color: rgb(165, 81, 22);
}

.video-class {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;
  
    width: auto;
    height: 200px;
    /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.video-class > video {
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  }

.video-class .vid-text {
    text-align: center;
    background-color:white;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    color: rgb(165, 81, 22);
    position: relative;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
  }

.video-class .vid-enter{
    text-align: center;
    color:white;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.video-class .vid-button{
    text-align: center;
    color:white;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
}

body {
  height: auto;
  background-color: #cccccc;
  background-image: linear-gradient(90deg,yellow , skyblue );
}

/*Let the first image appear only once (with no-repeat), 
and let the second image be repeated:
body {
  background-image: url("img_tree.gif"), url("paper.gif");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}

Sets a linear-gradient (two colors) 
as a background image for a <div> element:
#grad1 {
  height: 200px;
  background-color: #cccccc;
  background-image: linear-gradient(red, yellow);
}

Sets a linear-gradient (three colors) as a 
background image for a <div> element:
#grad1 {
  height: 200px;
  background-color: #cccccc;
  background-image: linear-gradient(red 45%, yellow 30%, green25%);
}

The repeating-linear-gradient() function 
is used to repeat linear gradients:
#grad1 {
  height: 200px;
  background-color: #cccccc;
  background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}

Sets a radial-gradient (two colors) as a 
background image for a <div> element:
#grad1 {
  height: 200px;
  background-color: #cccccc;
  background-image: radial-gradient(red, yellow);
}

Sets a radial-gradient (three colors)
background-image: radial-gradient(red, yellow, green);

The repeating-radial-gradient() function is 
used to repeat radial gradients:
background-image: repeating-radial-gradient(red, yellow 10%, green 20%);

create dash effect with your border
 border: 10px dashed black;